@charset "utf-8";
/* CSS Document */

/* 
========================================
  Custom Styles
========================================
*/
html {
  height: 100%;
}
body {
	background-image: url("../images/background/strange_bullseyes.png");
	background-size: 100%;
	min-height: 100%;
	width: 100%;
	position: absolute;
	height: auto;
}
/*
 ========================================
  Typogrophy
 ========================================
*/
h1 {
	font: 400 32px/36px  Times, "Times New Roman", serif;
}
h2 {
	font: 700 20px/24px  Times, "Times New Roman", serif;
}
h1,
h2 {
	color: #FFFFFF;
	text-align: center;
}
p {
	font: 400 18px/22px Times, "Times New Roman", serif;
	color: #;
	padding: 10px 5px;
	line-height: 150%;
	text-align: left;
}
/*
 ========================================
  Grid
  ========================================
*/
#title-box{
	background-color: #F3730A;
	width: 400px;
}
#instr-box{
	background-color: #09A7A7;
	width: 600px;
}
#header-box {
	width: 300px;
	background-color: #4A025D;
}
/* 
========================================
 Images
========================================
*/
.crystals {
	width: 150px;
}	
