@charset "utf-8";
/* CSS Document */

/* 
========================================
  Custom Styles
========================================
*/
html {
  height: 100%;
}
body {
	background-image: url("../images/background/strange_bullseyes.png");
	background-size: 100%;
	min-height: 100%;
	width: 100%;
	position: absolute;
	height: auto;
}
/*
 ========================================
  Typogrophy
 ========================================
*/
h1 {
	font: 300 32px/36px  Times, "Times New Roman", serif;
}
h2 {
	font: 700 20px/24px  Times, "Times New Roman", serif;
}
h3 {
	font: 700 20px/24px  Times, "Times New Roman", serif;
}
h1,
h3 {
	color: #fff;
	text-align: center;
	padding: 5px;
}
h2,
#wins,
#losses {
	color: #fff;
	text-align: left;
	padding: 5px;
}
p {
	font: 400 18px/22px Times, "Times New Roman", serif;
	color: #fff;
	line-height: 150%;
	text-align: left;
	padding: 10px;

}
#score,
#random-number {
	color: #FFFFFF;
	text-align: center;
	padding: 5px;
	font: 700 20px/24px  Times, "Times New Roman", serif;
	
}

/*
 ========================================
  Grid
  ========================================
*/
#title-box {
	background-color: #F3730A;
	width: 400px;
	margin: 5px;
}
#instr-box {
	background-color: #09A7A7;
	width: 600px;
	margin: 5px;
}
#random-number {
	width: 150px;
	height: 200px;
	background-color: #000143;
	margin: 5px;
	display: inline-block;
	position: relative;
}
#wins-losses {
	width: 300px;
	height: 210px;
	background-color: #000143;
	margin: 5px;
	display: inline-block;
	position: absolute;
}
h2 {
	display: inline-block;
}
#wins,
#losses {
	display: inline-block;
}
#header-box {
	width: 300px;
	background-color: #4A025D;
	margin: 5px;
}
#score-board {
	width: 300px;
	height: 200px;
	background-color: #4A025D;
	margin: 5px;
}
.grouping {
	width: 600px;
	position: relative;
	display: block;
}
/* 
========================================
 Images
========================================
*/
.crystals {
	width: 150px;
	margin: 5px;
}	
